<form {{action save on="submit" target="view"}} class="form-horizontal">
  <div class="modal-body">
    <div class="control-group">
      <label class="control-label" for="type">Type</label>
      <div class="controls">
        {{view Ember.Select
         contentBinding="types"
         disabledBinding="isDisabled"
         selectionBinding="type"}}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="title">Name</label>
      <div class="controls">
        {{input type="text" value=title placeholder="Name" class="input-xlarge name-input"}}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="info">Info</label>
      <div class="controls">
        {{textarea value=info placeholder="Info" class="input-xlarge" rows="10"}}
      </div>
    </div>
    <h4>Assets</h4>
    <div class="well" id="asset_controls">
      {{#each asset in assets}}
        {{partial 'node/asset'}}
      {{/each}}
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" {{action close target="view"}}>Cancel</a>
    {{input type="submit" class="btn btn-primary" value=view.saveLabel}}
  </div>
</form>
