<div class="modal-body">
  <form {{action save on="submit" target="view"}} class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="type">Type</label>
      <div class="controls">
        {{list-box selected=type items=types}}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="title">Name</label>
      <div class="controls">
        {{input type="text" value=title placeholder="Name" class="input-xlarge name-input"}}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="info">Info</label>
      <div class="controls">
        {{textarea value=info placeholder="Info" class="input-xlarge" rows="10"}}
      </div>
    </div>
    <div class="control-group" id="url_controls">
      <label class="control-label" for="url">Url</label>
      <div class="controls">
        {{input type="text" value=url placeholder="Web address of the asset" class="input-xlarge"}}
      </div>
    </div>
  </form>
</div>
