{{#modal id="edit_node"}}
  <div class="modal-header">
    <button type="button" class="close" {{action close target="view"}}>&times;</button>
    <h3>Edit Node</h3>
  </div>
  <div class="modal-body">
    <form {{action save on="submit" target="view"}} class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="title">Name</label>
        <div class="controls">
          {{input type="text" value=title placeholder="Name"}}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="info">Info</label>
        <div class="controls">
          {{textarea value=info placeholder="Info"}}
        </div>
      </div>
      <div class="control-group">
        <div class="controls">

        </div>
      </div>
    </form>
  </div>
  <div class="modal_delete">
    <a href="#" class="btn" {{action 'do_action' 'destroy_node' target="view"}}>Delete</a>
  </div>
{{/modal}}