<div id="toolbar" class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <form class="navbar-form form-inline pull-left">
        <label class="control-label" for="title">TITLE</label>
        <div class="input-append">
          {{view Ember.TextField valueBinding="title" class="span2 toolbar-input" id="title" }}
          <div class="btn-group">
            <button class="btn dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu menu-list">
              <li><a href="#" {{action selectMap}} title="Create a new map">Hydrodynamics</a></li>
              <li><a href="#" {{action selectMap}} title="Create a new map">Micro-nano things</a></li>
              <li class="divider"></li>
              <li><a href="#" {{action newMap}} title="Create a new map"><i class="icon-file"></i> New</a></li>
              <li><a href="#" {{action mapAct 'duplicate'}} title="Duplicate the current map"><i class="icon-copy"></i> Duplicate</a></li>
              <li><a href="#" {{action mapAct 'destroy'}} title="Delete this map map"><i class="icon-trash"></i> Delete</a></li>
            </ul>
          </div>
        </div>
      </form>
      <div class="nav-collapse collapse navbar-inverse-collapse">
        <div class="nav form-inline">
          <div class="btn-group">
            <a class="btn btn-toolbar dropdown-toggle icon_download" data-toggle="dropdown" href="#"></a>
            <ul class="dropdown-menu">
              <li class="nav-header">Import MC3 Collection</li>
              <li class="divider"></li>
              <li>
                <ul class="menu-list">
                  <li>
                    <form class="stop-click-close">
                      <div class="input-append">
                        {{view Ember.TextField valueBinding="mapSearchQuery" class="span2 toolbar-input" placeholder="Search Maps" }}
                        <button {{action "search"}} class="btn"><i class="icon-search"></i></button>
                      </div>
                    </form>
                  </li>
                </ul>
              <li class="divider"></li>
              {{#each mapSearchResults}}
                <li><a href="#" {{action importMap this}}>{{this.title}}</a></li>
              {{/each}}
            </ul>
          </div>

          <div class="btn-group">
            <a class="btn btn-toolbar icon_th" href="#"></a>
          </div>

          <div class="btn-group">
            <a class="btn btn-toolbar icon_list" href="#" {{action addToMap}} title="Enter a map as a hierarchy"></a>
          </div>
        </div>

        <div class="nav pull-right form-inline">
          <div class="btn-group">
            <a class="btn btn-toolbar dropdown-toggle icon_eye_open" data-toggle="dropdown" href="#"></a>
            <div class="dropdown-menu stop-click-close">
              <div class="control-group">
                <div class="controls">
                  <ul class="menu-list">
                    <li><label class="checkbox">{{view Ember.Checkbox checkedBinding="showRelationships"}} Show Relationships</label></li>
                    <li><label class="checkbox">{{view Ember.Checkbox checkedBinding="showRelationshipLabels"}} Show Relationship Labels</label></li>
                    <li><label class="checkbox">{{view Ember.Checkbox checkedBinding="showNodeLabels"}} Show Node Labels</label></li>
                    <li><label class="checkbox">{{view Ember.Checkbox checkedBinding="showNodeDescriptions"}} Show Node Descriptions</label></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          {{#switch data-on-label="edit" data-off-label="view" class="switch-small"}}
            {{view Ember.Checkbox checkedBinding="isEditing"}}
          {{/switch}}
          <div class="btn-group">
            <a href="#" class="btn btn-toolbar name_btn">Kate</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>